/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==============================  Start ===============================*/

/* Temporary 
body {
	background-color: #ccc;

}

div {
	border: 1px solid chocolate;
}
------------------------------------------------*/

/*---------- Global --------------------------*/

body {
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;

}

a {
	text-decoration: none;
	font-family: Roboto, sans-serif;


}

li {
	text-decoration: none;

}

.navbar, #icons, footer {
	max-width: 65%;
	margin: auto;
}

/*-------------------Navbar -------------------*/



header {
	background-color: #fff;
	height: 4.4em;
	position: fixed;
	width: 100%;
	z-index: 999;

}

.navbar {	
	height: 100%;
	
}

#logo {
	float: left;
	position: relative;
	top: .9em;
	margin-left: .5em;
	

}

#logo img {
	height: 2.4em;
}

nav {
	float: right;
	height: 100%;

}

nav > ul {	
	margin-right: 3.7em;

}

nav ul > li {	
	display: inline-block;
	height: 4.5em;
	line-height: 4.4em;
	margin: 0 .7em;
	font-size: 1.05em;
	

}

nav ul li > a {
	color: #838994;
}

nav ul li > a:hover {
	color: #333;

}

#meet-karma a {
	font-weight: 600;
	color: #4c5058;
}

/*---------------------- Jumbotron ----------------------------------*/

#jumbotron {
	background: url(../images/background.jpg) no-repeat bottom right;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	height: 664px;
	width: 100%;
	background-color: #fff;

}

#jumbotron-center {
	color: #fff;
	text-align: center;
	position: relative;
	top: 43%;
	transform: translateY(-50%);	
	-webkit-font-smoothing: antialiased;
}

#jumbotron-heading {
	font-family: Roboto;
	font-size: 3.1em;
	font-weight: 300;
	margin-bottom: .4em;	

}

#jumbotron-subtext {
	font-family: Roboto;
	font-size: 1.6em;
	font-weight: 300;
	margin-bottom: .8em;

}

.button {
	font-size: 1.2em;
	background-color: #F15A29;
	width: 8em;
	height: 3em;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	font-weight: 500;
	line-height: 3em;
	vertical-align: middle;

}

.button:hover {
	background-color: #D9400E;
	cursor: pointer;
}

/* ----------------------------- Icons --------------------------*/


#icons > h1 {
	margin-top: 2.8em;
	text-align: center;
	font-family: Roboto 300;
	font-size: 2.7em;
	-webkit-font-smoothing: antialiased;
}

#icon-row {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 8em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
}

.icon > img {
	height: 5.3em;
}

.icon {
	display: inline-block;
	margin-top: 2em;
	text-align: center;
	font-size: 1.4em;
	-webkit-font-smoothing: antialiased;
}

.icon > p {
	margin-top: 2em;
}



footer {
	text-align: center;
}

.copyright {
	color: #a9a9a9;
	font-size: .9em;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 9em;
}

/*--------------------------- footer ---------------------*/

footer > p {
	margin-bottom: 1em;
}

.logos > li {
	display: inline-block;
	border: 1px solid #d3d3d3;
	border-radius: 50%;
	padding: 10px;
	margin: 0 8px;

}

.fa-twitter {
	color: #55ACEE;
}

.fa-facebook {
	color: #4C66A4;
}

.fa-instagram {
	color: #3F729B;
}

.copyright {
	margin-top: 1em;
}